//font
$open-sans: 'Open Sans', sans-serif;
$Open-sans-condensed: 'Open Sans Condensed', sans-serif;

//colors
$black: #000000;
$green: #55a831;
$blue: #0096dc;
$blue-two: #2e9ee7;
$blue-three: #0d8fe3;
$blue-four: #008cce;
$blue-s: #00a0eb;
$blue-4:  #f7f7f7;
$gray: #333333;
$white: #fff;
$darken-gray: #d1d1d1;
$gray-three: #666666;
$orange: #ffb903;
 