<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copy">
                2017 © Ирвас окна
                Работаем без выходных                
            </div>
            <div class="footer__logo">
                <a href="#"> <img src="./assets/img/logo.png" alt="Логотип Ирвас"></a>
            </div>
            <div class="footer__info">
               <a href="tel:+74956466171">+7 (495) 646-61-71</a>
               <a href="mailto:info@irvasokna.ru">info@irvasokna.ru</a>
            </div>
        </div>
    </div>
</footer>