<header class="header">
    <div class="container">

        <div class="header__inner">
 
            <div class="header__left">
                <a href="#" class="logo">
                    <img src="./assets/img/logo.png" alt="Логотип компании Ирвас">
                </a>
                <div class="header__left-text">
                    Остекление балконов и лоджий
                    в Москве и Московской области
                </div>
            </div>

            <div class="header__center">

                <div class="header__center-substitute">
                    <img src="./assets/img/header/icon.png" alt="Иконка вызава замещика">
                    <span>ВЫЗВАТЬ
                        ЗАМЕРЩИКА</span>
                </div>

                <div class="header__center-time">
                    <img src="./assets/img/header/icon-time.png" alt="Иконка часов">
                    <div class="header__center-info">
                        <div class="header__center-text">
                            без выходных
                        </div>
                        <div class="header__center-number">
                            9:00 - 18:00
                        </div>
                    </div>
                </div>

            </div><!-- header__center -->
 
            <div class="header__right">
                <div class="header__right-phone">
                    <a class="header__right-phone-link" href="tel:+74956466171">
                        <img src="./assets/img/header/icon-phone.png" alt="Телефон компании Ирвас">
                        +7 (495) 646-61-71
                    </a>
                </div>
            </div>

        </div><!-- header__inner -->
     
    </div> <!-- container -->
</header> 
 